/*------------------------------------*\
    CONTENTS
\*------------------------------------*/

/**
 *  VARS
 *      - Modular Scale
 *      - Colors
 *  FONT-FACE
 *  RESET
 *  TYPOGRAPHY
 *      - Body
 *      - Headings
 *      - Lists
 *      - Paragraphs
 *      - Blockquote
 *      - Links
 *      - Code
 *      - Utilities
 *  IMAGES
 *  HERO
 *      - Image/Text
 *      - Frame
 *      - Overlay
 *  LAYOUTS
 *      - Cluster
 *      - Grid
 *      - Side By Side
 *  NAVS
 *      - Logo
 *      - Header
 *      - Header Mobile
 *      - Footer
 *  SCAFFOLDING
 *      - Main
 *      - Post List
 *      - Pagination
 *      - Footer
 *  BLOG
 */





/*------------------------------------*\
    !VARS
\*------------------------------------*/

:root {
    /**
     * ^Modular Scale
     */

    /* ratio */
    --ratio: 1.3;

    /* smaller */
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));

    /* base */
    --s0: 1.2rem;

    /* larger */
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --s6: calc(var(--s5) * var(--ratio));

    /**
     * ^Colors
     */

    --color-home: #54535E;
    --color-project1: #CC040B;
    --color-project2: #DDAF1D;
    --color-project3: #C6343A;
    --color-about: #22B2AE;
    --color-blog: #DA7B3C;
    --color-pickleball: #365679;
    --color-resume: #6D6D8F;
    --color-page: var(--color-home);

    --gray-black: #000;
    --gray-soot: #2B2B2B;
    --gray-slate: #636363;
    --gray-smoke: #B7B7B7;
    --gray-marshmellow: #EAEAEA;
    --gray-white: #fff;
}



/*------------------------------------*\
    !FONT-FACE
\*------------------------------------*/

@font-face {
    font-family: 'Metropolis Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Metropolis Medium'),
        url('/fonts/Metropolis-Medium.woff2') format('woff2'),
        url('/fonts/Metropolis-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis Medium Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Metropolis Medium Italic'),
        url('/fonts/Metropolis-MediumItalic.woff2') format('woff2'),
        url('/fonts/Metropolis-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis Semi Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Metropolis Semi Bold'),
        url('/fonts/Metropolis-SemiBold.woff2') format('woff2'),
        url('/fonts/Metropolis-SemiBold.woff') format('woff');
}





/*------------------------------------*\
    !RESET
\*------------------------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
dl,
dd {
    margin: 0;
}

/* Useing a custom font so make sure things are not bolder than they should be. */
h1,
h2,
h3 {
    font-weight: unset;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

:focus {
    outline: 2px dashed var(--color-page);
    outline-offset: 0.25rem;
}

/* High contrast selection because it can help visually-impaired folks read the text easier */
::selection {
    color: var(--gray-white);
    background: var(--color-page);
}

main:focus {
    outline: none;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.skip-link {
    position: absolute;
    top: calc(var(--s5) + 35px);
    left: var(--s4);
    color: var(--gray-white);
    background: var(--gray-soot);
    z-index: 99;
}

.skip-link:not(:focus) {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}





/*------------------------------------*\
    !TYPOGRAPHY
\*------------------------------------*/

/**
 * ^Body
 */

body {
    color: var(--gray-soot);
    font-family: 'Metropolis Medium', sans-serif;
    font-size: var(--s0);
}

.preload {
    z-index: -1;
}


/**
 * ^Headings
 */

h1 {
    font-family: 'Metropolis Semi Bold', sans-serif;
    font-size: var(--s5);
    position: relative;
}

@media (max-width: 818px) {
    h1 {
        font-size: var(--s3);
    }
}

h2 {
    font-family: 'Metropolis Semi Bold', sans-serif;
    font-size: var(--s3);
    position: relative;
    margin-bottom: var(--s4);
    padding-top: var(--s3);
}

h2::before {
    content: '';
    position: absolute;
    width: var(--s-4);
    height: calc(var(--s5) - 5px);
    top: calc(var(--s-5) + var(--s3));
    left: calc(var(--s0) * -1);
    display: block;
    background: var(--color-page);
}

@media (max-width: 818px) {
    h2 {
        font-size: var(--s2);
    }

    h2::before {
        width: calc(var(--s5) + 15px);
        height: var(--s-5);
        top: unset;
        left: 0;
        bottom: 0;
    }
}

h3 {
    font-family: 'Metropolis Semi Bold', sans-serif;
    font-size: var(--s1);
    margin-bottom: var(--s-1);
}


/**
 * ^Lists
 */

li {
    color: var(--gray-slate);
}

ol,
ul {
    margin-top: 0;
    margin-bottom: var(--s3);
}

ol {
    padding-left: var(--s1);
}

ul {
    padding-left: var(--s1);
}


/**
 * ^Paragraphs
 */

p {
    margin-bottom: calc(var(--s2) + 7px);
}


/**
 * ^Blockquote
 */

blockquote {
    margin: var(--s-2) 0;
    display: inline-block;
}

blockquote p {
    padding: var(--s0) var(--s1);
    background: var(--gray-marshmellow);
    font-family: 'Metropolis Medium Italic', sans-serif;
}


/**
 * ^Link
 */

@property --offset {
    syntax: '<length>';
    inherits: false;
    initial-value: 0;
}

a {
    color: inherit;
    text-underline-offset: var(--offset, 0.1em);
    text-decoration: underline 0.15em;
    transition: --offset 300ms, text-decoration-color 300ms;
}

a[data-state="active"],
a:hover,
a:focus {
    --offset: 0.2em;
    text-decoration-color: var(--color-page);
}

@supports not (background: paint(something)) {
    a {
        transition: text-underline-offset 300ms, color 300ms;
        text-decoration: underline 0.1em;
    }
}


/**
 * ^Code
 */

/*
 * Synthwave '84 Theme originally by Robb Owen [@Robb0wen] for Visual Studio Code
 * Demo: https://marc.dev/demo/prism-synthwave84
 *
 * Ported for PrismJS by Marc Backes [@themarcba]
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #f92aad;
    text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: var(--s0) var(--s1);
    margin: var(--s4) 0;
    overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #8e8e8e;
}

.token.punctuation {
    color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
    color: #e2777a;
}

.token.property,
.token.selector {
    color: #72f1b8;
    text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475;
}

.token.function-name {
    color: #6196cc;
}

.token.boolean,
.token.selector .token.id,
.token.function {
    color: #fdfdfd;
    text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

.token.class-name {
    color: #fff5f6;
    text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75, 0 0 25px #fc1f2c75;
}

.token.constant,
.token.symbol {
    color: #f92aad;
    text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
}

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
    color: #f4eee4;
    text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    color: #f87c32;
}

.token.operator,
.token.entity,
.token.url {
    color: #67cdcc;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: green;
}


/**
 * ^Utilities
 */

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/**
 * Additional Spacing
 */

.extra-spacing {
    margin-bottom: calc(var(--s5) + 7px) !important;
}





/*------------------------------------*\
    !IMAGES
\*------------------------------------*/

p img {
    margin: var(--s-3) 0;
    display: inline-block;
}

.image-list picture,
.image-list img{
    display: inline;
}

.image-list img{
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}






/*------------------------------------*\
    !HERO
\*------------------------------------*/

/**
 * ^Image/Text
 */

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-bottom: var(--s4);
}

@media only screen and (max-width: 818px) {
    .hero {
        margin-bottom: var(--s-5);
    }
}

.hero-text {
    text-align: center;
    color: var(--gray-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-shadow: 0px 0px 10px var(--gray-black);
    z-index: 1;
}

@supports (-webkit-touch-callout: none) {
    .hero-text {
        margin-top: -156px;
    }

    .wrapper,
    .wrapper :first-child {
        padding-top: 0 !important;
    }

    .hero-post-single .hero-text,
    .page-tags .hero-text,
    .page-blog .hero-text{
        margin-top: unset;
    }

    .hero-post-single + .wrapper :first-child{
        padding-top: var(--s2) !important;
    }
}

.hero-text__sub{
    font-size: var(--s0);
    padding-top: 0;
    margin-bottom: 0;
}

.hero-text__sub:before{
    display: none;
}

.hero-text.right {
    align-items: flex-end;
    width: 90%;
}

@media only screen and (max-width: 640px) {
    .hero-text {
        padding: 0 var(--s1);
    }
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.more {
    position: absolute;
    bottom: var(--s3);
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

.more a {
    color: var(--gray-white);
    text-shadow: 0px 0px 10px var(--gray-black);
}

.more a:hover {
    text-decoration-color: initial;
}

.transition-toggle {
    position: absolute;
    bottom: var(--s3);
    left: var(--s4);
    color: var(--gray-white);
    font-size: var(--s-1);
    text-shadow: 0px 0px 10px var(--gray-black);
    text-decoration-color: transparent;
    z-index: 2;
}

.transition-toggle:hover {
    cursor: pointer;
    color: var(--gray-white);
    text-decoration-color: initial;
}

.transition-toggle:active {
    color: var(--gray-white);
}

.hero-post-single .transition-toggle {
    bottom: var(--s0);
}

@media only screen and (max-width: 818px) {
    .transition-toggle {
        left: auto;
        right: auto;
        bottom: var(--s-3) !important;
    }
}

.page-tags .transition-toggle,
.page-blog .transition-toggle{
    display: none;
}


/**
 * ^Frame
 */

.frame {
    position: fixed;
}

.frame-left,
.frame-right {
    height: 100%;
    top: 0;
    z-index: 10;
}

.frame-left {
    left: 0;
}

.frame-right {
    right: 0;
}

.frame-left,
.frame-right {
    width: 24px;
    background: var(--color-page);
}

.frame-top,
.frame-bottom {
    width: 100%;
    left: 0;
    background: var(--gray-soot);
    z-index: 9;
}

.frame-top {
    top: 0;
}

.frame-bottom {
    bottom: 0;
}

.frame-top,
.frame-bottom {
    height: 24px;
}

@media only screen and (max-width: 818px) {

    .frame-left,
    .frame-right {
        width: 7px;
    }

    .frame-top,
    .frame-bottom {
        height: 7px;
    }
}


/**
 * ^Overlay
 */

.overlay {
    position: fixed;
    top: 0;
    right: 100%;
    width: 200%;
    height: 100%;
    display: flex;
    z-index: 12;
}

.overlay>* {
    height: 100%;
}

.overlay__current-color {
    width: 35%;
}

.overlay__sub1-color {
    width: 15%;
    background: var(--gray-slate);
}

.overlay__sub2-color {
    width: 15%;
    background: var(--gray-soot);
}

.overlay__next-color {
    width: 35%;
}





/*------------------------------------*\
    !LAYOUTS
\*------------------------------------*/

/**
 * ^Cluster
 */

.cluster {
    --space: var(--s2);
}

.cluster>* {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: calc(var(--space) / 2 * -1);
}

.cluster>*>* {
    margin: calc(var(--space) / 2);
}

.cluster--split>* {
    justify-content: space-between;
}

.cluster--center>* {
    justify-content: center;
}


/**
 * ^Grid
 */

.grid {
    display: grid;
    list-style-type: none;
    margin: var(--s3) var(--s5);
    padding: 0;
}

@media (max-width: 818px) {
    .grid {
        margin: var(--s3) var(--s-1);
    }
}

.grid-basic {
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    grid-gap: var(--s3);
}

.grid>* a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--s4);
    background: rgba(0, 0, 0, 0.7);
    color: #E8B79F;
    text-shadow: none;
    transition: --offset 300ms, text-decoration-color 300ms, background ease-in-out 300ms;
    height: 100%;
}

.grid>* a:hover {
    background: rgba(0, 0, 0, 0.8);
}


/**
 * ^Side By Side
 */

.side-by-side {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.side-by-side>* {
    margin-right: var(--s4);
}

.side-by-side ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-by-side h3 {
    color: initial;
}

@media (max-width: 818px) {
    .side-by-side {
        flex-direction: column;
    }

    .side-by-side li:first-child ul {
        margin-bottom: var(--s3);
    }

    .side-by-side>* {
        margin-right: 0;
    }
}







/*------------------------------------*\
    !NAV
\*------------------------------------*/

nav ul {
    list-style-type: none;
    padding-left: 0;
}

/**
 * ^Logo
 */

.logo {
    width: 28px;
    height: 25px;
    display: inherit;
}


/**
 * ^Header
 */

.nav-header {
    position: absolute;
    width: 100%;
    margin-top: var(--s-5);
    padding: var(--s3) var(--s4);
    background-image: linear-gradient(#000, transparent);
    z-index: 3;
}

.nav-header .logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.nav-header .cluster>*>*:nth-child(4) {
    margin-left: auto;
}

@media (max-width: 818px) {
    .nav-header .cluster>*>*:nth-child(4) {
        margin-left: calc(var(--space)/ 2);
    }

    .nav-header {
        background-image: linear-gradient(#232323, transparent);
    }
}

@media (max-width: 1060px) {
    .nav-header {
        display: flex;
    }

    .nav-header .logo {
        position: relative;
        margin-top: calc(var(--s-5) - 3px);
        margin-left: 0;
        margin-right: var(--s3);
    }

    .nav-header .cluster>*>*:nth-child(4) {
        margin-left: calc(var(--space)/ 2);
    }
}

@media only screen and (max-width: 640px) {
    .nav-header {
        padding: var(--s1) var(--s2);
    }
}

.nav-header nav a {
    color: var(--gray-white);
    text-decoration-color: transparent;
}

.nav-header nav ul li:nth-child(1) a[data-state="active"],
.nav-header nav ul li:nth-child(1) a:hover,
.nav-header nav ul li:nth-child(1) a:focus {
    text-decoration-color: var(--color-project1);
}

.nav-header nav ul li:nth-child(2) a[data-state="active"],
.nav-header nav ul li:nth-child(2) a:hover,
.nav-header nav ul li:nth-child(2) a:focus {
    text-decoration-color: var(--color-project2);
}

.nav-header nav ul li:nth-child(3) a[data-state="active"],
.nav-header nav ul li:nth-child(3) a:hover,
.nav-header nav ul li:nth-child(3) a:focus {
    text-decoration-color: var(--color-project3);
}

.nav-header nav ul li:nth-child(4) a[data-state="active"],
.nav-header nav ul li:nth-child(4) a:hover,
.nav-header nav ul li:nth-child(4) a:focus {
    text-decoration-color: var(--color-about);
}

.nav-header nav ul li:nth-child(5) a[data-state="active"],
.nav-header nav ul li:nth-child(5) a:hover,
.nav-header nav ul li:nth-child(5) a:focus {
    text-decoration-color: var(--color-blog);
}

.nav-header nav ul li:nth-child(6) a[data-state="active"],
.nav-header nav ul li:nth-child(6) a:hover,
.nav-header nav ul li:nth-child(6) a:focus {
    text-decoration-color: var(--color-pickleball);
}


/**
 * ^Header Mobile
 */

.site-navigation>input {
    display: none;
}

.mobile-trigger {
    display: none;
    position: fixed;
    top: 26px;
    right: 24px;
    width: 34px;
    height: 34px;
    margin: 0;
    padding: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    overflow: hidden;
    z-index: 99;
}

.mobile-trigger>label {
    display: none;
    font-size: 36px;
    color: #fff;
    position: absolute;
    right: 20px;
    width: 36px;
    padding: 0;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Bars */
.mobile-trigger span {
    display: block;
    position: absolute;
    top: 16px;
    right: 7px;
    left: 7px;
    margin: 0;
    padding: 0;
    height: 2px;
    background: var(--gray-soot);
}

.mobile-trigger span::before,
.mobile-trigger span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--gray-soot);
    content: '';
}

.mobile-trigger span::before {
    top: -7px;
}

.mobile-trigger span::after {
    bottom: -7px;
}

/* Endn Bars */

/* Animate to X */
.mobile-trigger span {
    transition: background 0s 0.3s;
}

.mobile-trigger span::before,
.mobile-trigger span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.mobile-trigger span::before {
    /* autoprefixer: off */
    transition-property: top, transform;
}

.mobile-trigger span::after {
    /* autoprefixer: off */
    transition-property: bottom, transform;
}

.site-navigation>input:checked~.mobile-trigger span {
    background: none;
}

.site-navigation>input:checked~.mobile-trigger span::before {
    top: 0;
    transform: rotate(45deg);
}

.site-navigation>input:checked~.mobile-trigger span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.site-navigation>input:checked~.mobile-trigger span::before,
.site-navigation>input:checked~.mobile-trigger span::after {
    transition-delay: 0s, 0.3s;
}

/* End Animate to X */


@media only screen and (max-width: 818px) {
    .site-navigation .main-nav {
        position: fixed;
        display: block;
        clear: both;
        background: #000;
        color: #fff;
        z-index: 9;
        width: 100%;
        height: 100%;
        top: 16px;
        padding: var(--s1) var(--s2);
        left: -100%;
        opacity: 0;
        transition: left 400ms 0ms, opacity 400ms 0ms;
    }

    .site-navigation>input:checked+.main-nav {
        left: 16px;
        opacity: 1;
    }

    .site-navigation>label {
        display: block
    }
}


/**
 * ^Footer
 */

.scaffold-footer nav a {
    color: var(--gray-white);
    text-decoration-color: var(--gray-soot);
}

.scaffold-footer nav a:hover,
.scaffold-footer nav a:focus {
    text-decoration-color: var(--gray-white);
}





/*------------------------------------*\
    !SCAFFOLDING
\*------------------------------------*/

/**
 * ^Main
 */

.wrapper {
    padding: 0 calc(var(--s5) * 1.5);
}

.wrapper> :last-child {
    margin-bottom: calc(var(--s5) + var(--s5)) !important;
}

@media (max-width: 818px) {
    .wrapper {
        padding: var(--s2);
    }
}

.wrapper h2,
.wrapper blockquote,
.wrapper p {
    max-width: 50rem;
}

.wrapper .side-by-side {
    max-width: 75rem;
}

.wrapper .media-image {
    max-width: 1500px;
    position: relative;
    border: solid 1px var(--gray-smoke);
    padding: var(--s-1);
    margin: 0 0 0 calc((var(--s-5) + 14px) * -1);
}

.wrapper .side-by-side__single .media-image {
    border: none;
    padding: 0;
    margin: 0;
}

.wrapper .side-by-side__single .media-image+p {
    margin-left: var(--s2);
}

.wrapper .media-image img {
    height: auto;
    width: 100%;
    max-width: 1500px;
    margin: 0;
    display: block;
}

.wrapper .media-image+p {
    margin-top: var(--s-4);
    margin-bottom: var(--s3);
    font-family: 'Metropolis Medium Italic', sans-serif;
    color: var(--gray-slate);
    font-size: var(--s-1);
}

@media (max-width: 818px) {
    .wrapper .media-image {
        margin: 0;
        padding: var(--s-4);
        overflow: scroll;
        position: relative;
    }

    .wrapper .media-image:before {
        content: '« scroll »';
        width: 100%;
        left: 0;
        text-align: center;
        display: block;
        font-size: var(--s-1);
        position: sticky;
    }

    .wrapper .media-image img {
        width: 300%;
    }

    .wrapper .side-by-side__single .media-image img {
        width: 100%;
    }

    .wrapper .side-by-side__single .media-image:before {
        display: none;
    }
}


/**
 * ^Post List
 */

.post-list-container {
    max-width: 65em;
    margin: 0 auto;
}


/**
 * ^Pagination
 */

.pagination {
    justify-content: center;
}


/**
 * ^Footer
 */

.scaffold-footer {
    background: var(--gray-soot);
    padding: calc(var(--s5) * 1.5);
}

@media (max-width: 818px) {
    .scaffold-footer {
        padding: var(--s2);
    }

    .scaffold-footer>div {
        flex-direction: column;
        align-items: flex-start;
    }

    .scaffold-footer nav.cluster ul {
        display: block;
    }
}

.scaffold-footer p,
.scaffold-footer nav {
    color: var(--gray-white);
}





/*------------------------------------*\
    !BLOG
\*------------------------------------*/

.page-no-content.hero {
    background: var(--gray-slate);
    margin-bottom: 0;
}

@media (max-width: 818px) {
    .page-blog.hero {
        height: unset;
    }

    .page-blog.hero .hero-text {
        margin-top: var(--s5);
    }

    .hero-text {
        margin-left: 0 !important;
    }
}

.hero-post-single {
    position: relative;
    padding: var(--s5) 0 var(--s3);
    height: auto;
}

.hero-post-single .hero-text {
    max-width: 90%;
    justify-content: flex-start;
    padding: var(--s5) 0 var(--s4);
}

.tags-list {
    margin-top: calc(var(--s-5) - 5px);
}

.tags-list a {
    text-transform: lowercase;
    color: #E8B79F;
}

.page-tags.hero {
    height: unset;
    padding: var(--s5) 0 var(--s3);
}

.page-tags.hero .hero-text {
    padding: var(--s5) 0 var(--s4);
    ;
}

@media only screen and (max-width: 640px) {
    .page-tags.hero .hero-text {
        padding: 0 var(--s1);
    }
}