<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <meta
        http-equiv="X-UA-Compatible"
        content="ie=edge"
    />
    {% include "partials/meta-info.html" %}
    <link
        rel="alternate"
        type="application/rss+xml"
        href="{{ site.url }}/feed.xml"
    />
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div id="swup">
        <style>
            :root{
                --color-page: {{ color }};
            }
        </style>
        {% include "partials/site-head.html" %}
        <main tabindex="-1">
            {% block content %}{% endblock %}
        </main>
    </div>
    {% include "partials/site-foot.html" %}
</body>
<script src="/javascript/swup.min.js"></script>
<script src="/javascript/SwupJsPlugin.min.js"></script>
<script src="/javascript/SwupPreloadPlugin.min.js"></script>
<script src="/javascript/SwupScrollPlugin.min.js"></script>
<script src="/javascript/gsap.min.js"></script>

<script src="/javascript/transitions.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24275590-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-24275590-1');
</script>
</html>