{% extends "layouts/base.html" %}
{% block content %}
<div id="swup" class="hero  transition-fade">
    <div class="frame frame-left"></div>
    <div class="frame frame-right"></div>
    <div class="frame frame-top"></div>
    <div class="frame frame-bottom"></div>
    <div class="hero-text">
        <h1>{{ intro.main }}</h1>
        <h4>{{ intro.summary }}</h4>
    </div>
    <a
        href="#main-content"
        class="more"
    >
        <span></span>
        More Info
        <span></span>
    </a>
    {% headerimage intro.image, intro.imageAlt, "100vw" %}
</div>
<div
    id="main-content"
    class="wrapper"
>
    {{ content | safe }}
</div>
{% endblock %}