{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{# Grab other posts that aren’t this one for the 'more from the blog' feed #}
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}

{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary %}
<time datetime="{{ date | w3DateFilter }}" class="hero-text__sub">{{ date | dateFilter }}</time>
{% if tags %}
<p
    class="visually-hidden"
    id="tags-desc"
>
    Tags that this post has been filed under.
</p>
<nav class="cluster  cluster--center">
    <ul
        class="tags-list"
        aria-describedby="tags-desc"
    >
        {% for tag in tags %}
        <li>
            <a href="/blog/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
{% endset %}

{% block content %}
<div class="overlay">
    <div class="overlay__current-color"></div>
    <div class="overlay__sub1-color"></div>
    <div class="overlay__sub2-color"></div>
    <div class="overlay__next-color"></div>
</div>
<div class="hero  hero-post-single">
    <div class="frame  frame-left"></div>
    <div class="frame  frame-right"></div>
    <div class="frame  frame-top"></div>
    <div class="frame  frame-bottom"></div>
    <div
        class="hero-text"
        id="main-content"
    >
        <h1
            class="hero-text__main"
            data-highlight="primary"
        >
            {{ pageHeaderTitle }}
        </h1>
        {% if pageHeaderSummary %}
        <div class="page-header__summary">
            {{ pageHeaderSummary | safe }}
        </div>
        {% endif %}
    </div>
    <a style="z-index: 999; position: absolute; margin: 35px;" id="transitionToggle" onclick="toggleTransition()"></a>
    {% headerimage './src/images/page-headers/blog.jpg', 'blog', "100vw" %}
</div>

<article
    id="main-content"
    class="wrapper"
>
    <div>
        {{ content | safe }}
    </div>

    {% if recommendedPosts %}
    <footer>
        {% set postListItems = recommendedPosts %}
        <div>
            <h3 data-highlight="primary">
                More from the blog
            </h3>
            <ul>
                {% for item in postListItems %}
                <li>
                    <a href="{{ item.url }}">
                        {{ item.data.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </footer>
    {% endif %}
</article>

{% endblock %}