{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}
{% set postListItems = pagination.items %}

{# If this is a tag, grab those items instead as one large collection #}
{% if tag %}
{% set postListItems = collections[tag] %}
{% set pageHeaderTitle = 'Blog posts filed under “' + tag + '”' %}
{% endif %}

{% block content %}
<div class="hero page-tags  page-no-content">
    <div class="overlay">
        <div class="overlay__current-color"></div>
        <div class="overlay__sub1-color"></div>
        <div class="overlay__sub2-color"></div>
        <div class="overlay__next-color"></div>
    </div>
    <div class="frame  frame-left"></div>
    <div class="frame  frame-right"></div>
    <div class="frame  frame-top"></div>
    <div class="frame  frame-bottom"></div>
    <div
        class="hero-text"
        id="main-content"
    >
        <h1 class="hero-text__main">Tags</h1>
        <h4 class="hero-text__sub">Posts filtered by the '{{ tag }}' tag</h4>
        {% include "partials/blog-post-list.html" %}
        {# If we leave pagination in for tags, the next and prev links will
            link to tags and be rather confusing, so don't render in that situation #}
        {% if not tag %}
        {% include "partials/pagination.html" %}
        {% endif %}
    </div>
    <a
        class="transition-toggle"
        id="transitionToggle"
        onclick="toggleTransition()"
    ></a>
    {% headerimage './src/images/page-headers/blog.jpg', 'blog', "100vw" %}
</div>
{% endblock %}